# 実際のプロジェクト
mogupro/game/vc2017/*
!mogupro/game/vc2017/*.rc

# cinderのライブラリを除く
# 別途でダウンロードしたzipを解凍してフォルダに入れてください。
mogupro/librarys/cinder/*
!mogupro/librarys/cinder/.gitkeep

# boostのライブラリを除く
# 別途でダウンロードしたzipを解凍してフォルダに入れてください。
mogupro/librarys/boost/*
!mogupro/librarys/boost/.gitkeep
